  <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-secondary">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">
        Ultimate Tic Tac Toe
      </a>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'
        [attr.aria-expanded]='isExpanded' (click)='toggle()'>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
        <ul class='nav navbar-nav'>
          <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }' class=" nav-item">
            <a [routerLink]='["/"]' (click)='collapse()' class="nav-link text-white">Home</a>
          </li>
          <li [routerLinkActive]='["link-active"]' class=" nav-item">
            <a [routerLink]='["/game"]' (click)='collapse()' class="nav-link text-white">Game</a>
          </li>
          <li [routerLinkActive]='["link-active"]' class=" nav-item">
            <a [routerLink]='["/about"]' (click)='collapse()' class="nav-link text-white">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
