.game-board
{
	width: 500px;
	height: 500px;
	margin: 0 auto;
  background-color: #ffffff;
  color: #76797c;
  border: 6px solid #76797c;
  border-radius: 8px;

	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.box
{
  border: 6px solid #76797c;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
